<ion-header>
  <ion-toolbar>
    <ion-title>Contas a Pagar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding"><br>

  <form [formGroup] = "contasForm" (submit)="registraConta()">
    <ion-item>
      <ion-icon name="person" color="if" slot="start"></ion-icon>
      <ion-input formControlName="parceiro" type="text" placeholder="Parceiro Comercial" autfocus="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="document" color="if" slot="start"></ion-icon>
      <ion-input formControlName="descricao" type="text" placeholder="Descrição"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="wallet" color="if" slot="start"></ion-icon>
      <ion-input formControlName="valor" type="text" placeholder="Valor"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="paper" color="if" slot="start"></ion-icon>
      <ion-input formControlName="descricao" type="number" placeholder="Descrição"></ion-input>
    </ion-item>

    <ion-list>
      <ion-radio-group formControlName="tipo">
        <ion-list-header>
          <ion-label>
            Tipo
          </ion-label>
        </ion-list-header>
    
        <ion-item>
          <ion-label>A Pagar</ion-label>
          <ion-radio slot="start" value="pagar"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>A Receber</ion-label>
          <ion-radio slot="start" value="receber"></ion-radio>
        </ion-item>


      </ion-radio-group>
    </ion-list>


    <ion-button [disabled]="contasForm.invalid" type="submit" expand="block" color="if" fill="clear">Enviar</ion-button>
    <br><br>
  </form>

</ion-content>
